@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --blue: #1e90ff;
    --white: #fff;
    --whitesmoke: #f5f5f5;
}

/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Default body settings*/
body {
    min-height: 100vh;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* #region Header */
header,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--blue);
    background-color: var(--whitesmoke);
    border-bottom: 2px ridge var(--blue);

}

header i {
    font-size: 1.4rem;
    border: 2px solid var(--blue);
    padding: 5px;
}

header i:hover {
    cursor: pointer;

}

/* #endregion */

/* #region User panel */

div#user {
    display: none;
    position: fixed;
    width: 100%;
    padding: 25px 20px;
    background-color: var(--blue);
    color: white;
}

div#user p {
    margin: 10px 0;
}

div#user button {
    width: 250px;
    height: 35px;
}

div#user button:hover {
    cursor: pointer;
}

/* #endregion */

/* #region Leaderboard */
div#leader {
    display: none;
    position: fixed;
    width: 100%;
    padding: 25px 50px;
    background-color: var(--blue);
}


[name|="score-list"] {
    color: gold;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
}

/* #endregion */

/* #region Category-Timer */
.category-timer {
    font-size: 300;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    color: var(--blue);
}

/* #endregion */

/* #region Question */
#question-number {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

#question {
    border-radius: 5px;
    background-color: var(--whitesmoke);
    width: 90%;
    height: 225px;
    padding: 10px;
    overflow-y: scroll;
    margin: 20px auto;
    text-align: justify;
}

/* #endregion */

/* #region Answers */
#answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#answers {
    width: 100%;
}

.answer-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 15px auto;
    padding: 5px;
}

/* #endregion */

/* #region score */
#correct-answer,
#incorrect-answer {
    font-size: 1.6rem;
    font-weight: bold;
}


#correct-answer {
    color: green;

}

#incorrect-answer {
    color: red;

}

/* #endregion */