@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --blue: #1e90ff;
    --white: #fff;
    --whitesmoke: #f5f5f5;
    --background: #cdffcd;
}

/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Default body settings*/
body {
    min-height: 100vh;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* #region Header */
header,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--blue);
    border-bottom: 2px ridge var(--blue);
    background-color: var(--background);
}

header i {
    font-size: 1.4rem;
    border: 2px solid var(--blue);
    padding: 5px;
}

header i:hover {
    cursor: pointer;
}

/* #endregion */

/* #region User panel */
div#user-container {
    display: none;
    position: fixed;
    top: 30%;
    left: 10%;
    width: 80%;
    padding: 5px;
    background-color: var(--blue);
}

div#user-container>i {
    display: flex;
    justify-content: right;
    cursor: pointer;
    color: white;
    z-index: 10;
}

div#user {
    padding: 0px 5px 5px 5px;
    background-color: var(--blue);
    color: white;
}

div#user p {
    margin: 10px 5%;
}

div#user button {
    width: 90%;
    height: 35px;
    margin-left: 5%;
}

div#user button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--blue);
}

/* #endregion */

/* #region Leaderboard */

div#leader-container {
    display: none;
    position: fixed;
    top: 30%;
    left: 10%;
    width: 80%;
    padding: 5px;
    background-color: var(--blue);
    z-index: 99999999;
}

div#leader-container>i {
    display: flex;
    justify-content: right;
    cursor: pointer;
    color: white;
}

div#leader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

[name|="score-list"] {
    color: var(--whitesmoke);
}

[name|="score-list"] :nth-child(1) {
    color: gold;
}

/* #endregion */

/* #region Category-Timer */
.category-timer {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    color: var(--blue);
}

/* #endregion */

/* #region Question */
#question-number {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

#question {
    border-radius: 5px;
    background-color: var(--whitesmoke);
    width: 90%;
    height: 225px;
    padding: 10px;
    overflow-y: scroll;
    margin: 20px auto;
    text-align: justify;
}

/* #endregion */

/* #region Answers */
#answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#answers {
    width: 100%;
}

.answer-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 15px auto;
    padding: 5px;
    background-color: var(--whitesmoke);
    color: black;
    border-color: var(--blue);
    font-size: 25px;
    font-weight: bold;
}

.answer-button:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
}

/* #endregion */

/* #region score */
#correct-answer,
#incorrect-answer {
    font-size: 1.6rem;
    font-weight: bold;
}

#correct-answer {
    color: green;
}

#incorrect-answer {
    color: red;
}

/* #endregion */

/* #region Result */
#result {
    display: none;
    position: fixed;
    left: 10%;
    top: 35%;
    width: 80%;
    height: 350px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 15px;
    font-size: 1rem;
    z-index: 0;

}

#result-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

}

#result-container div {
    padding: 15px;
    margin: 10px 15px;
}

#result-container p {

    font-size: 1.6rem;
}

#result-container i {

    margin: 0px 15px;
}

#result>p {
    margin: 10px 0;
}

div.game-buttons {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: last baseline;
    justify-content: space-around;
    color: #1e90ff;

}

div.game-buttons>button {
    width: 250px;
    padding: 5px;
    background-color: #f5f5f5;
}

div.game-buttons>button:hover {
    width: 249px;
    cursor: pointer;
    padding: 5px;
    background-color: #f00;
    color: white;
}

/* #endregion */